<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjz.lcsjz.common.dal.mapper.PriceTicksMapper">
    <insert id="upsertBatch">
        INSERT INTO market_data.price_ticks (item_id, tick_at, price)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.itemId}, #{item.tickAt}, #{item.price})
        </foreach>
        ON CONFLICT (item_id, tick_at) DO UPDATE
        SET price = EXCLUDED.price
        -- 可以增加一个条件，仅当价格确实变化时才更新，减少不必要的写操作和binlog
        WHERE market_data.price_ticks.price != EXCLUDED.price;
    </insert>
</mapper>
